*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ----------Navbar-container---------- */
.navbar-container{
    width: 100%;
    padding: 1vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    
}

/* -------------navbar-links---------- */
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 15px;
}
.nav-links li a{
    text-decoration: none;
    font-size: 15px;
}
/* -------login-signup-btn------------ */

.login_signup-btn .login-btn{
    padding: 1vw;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .signup-btn{
    padding: 1vw;
    background-color:black;
    
    border: 1px solid black;
    border-radius: 12px;
}

.login-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.signup-btn a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

/* -------------active-home-link------------ */
#active{
    background: -webkit-linear-gradient(purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------Open-close-menu------------- */
.navbar-container .fa-solid{
    display: none;
    position: relative;
}

/* -------------------page1----------------- */
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}
.page1 .left-col{
    flex-basis: 40%;
}
/* ----------------Right-Col----------------------- */
.right-col{
    flex-basis: 40%;
}
.right-col h1 {
    font-size: 60px;
}
.right-col img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

