*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ----------Navbar-container---------- */
.navbar-container{
    width: 100%;
    padding: 1vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    
}
/* ----------------nav-logo------------- */
.navbar-container .logo h1{
    font-size: 12px;
    font-family: cantarell;
    letter-spacing: 6px;
    font-weight: 200;
    margin-left: 20px;
}
/* -------------navbar-links---------- */
.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 15px;
}
.nav-links li a{
    text-decoration: none;
    font-size: 15px;
}
/* -------login-signup-btn------------ */

.login_signup-btn .login-btn{
    padding: 1vw;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 12px;
}
.login_signup-btn .signup-btn{
    padding: 1vw;
    background-color:black;
    
    border: 1px solid black;
    border-radius: 12px;
}

.login-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.contact_us-btn a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.signup-btn a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

/* -------------active-home-link------------ */
#active{
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* -------------Open-close-menu------------- */
.navbar-container .fa-solid{
    display: none;
    position: relative;
}

/* -------------------page1----------------- */
.page1{
    min-height: 100vh;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}
/* --------------left-col---------------- */
.page1 .left-col{
    flex-basis: 40%;
}
.left-col .hero-text {
    font-size: 30px;
    margin-bottom: 35px;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.left-col p{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* -------------buttons--------------- */
.btn{
    margin-top: 50px;
}
.btn .get_started-btn{
    padding: 1vw;
    font-size: 16px;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
    border-radius: 8px;
    width: 180px;
}
.btn .get_started-btn a{
text-decoration: none;
color: white;
}
.btn .contact_us-btn{
    padding: 1vw;
    font-size: 16px;

    border: 1px solid linear-gradient(to right,#AA3D71,#F1966E);
    border-radius: 8px;
    width: 180px;
}
/* ----------------Right-Col----------------------- */
.right-col{
    flex-basis: 40%;
}

.right-col img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ------------------page2------------------------ */

.page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
    align-items: center;
    padding: 2.2vw;
    text-align: center;
}
.page2 h1{
   font-size: 6vw;
   background: linear-gradient(to right, purple, orange);
   background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 1vw;
}
/* ---------------Community cards---------------------- */
.community_card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    padding: 1vw;
    position: relative;
    margin-top: 2vw;
}
/* -------------------card1-------------- */
.card1{
    flex-basis: 32%;
   
    background-color: #f7f7f7;
   height: 350px;
   border-radius: 12px;
  
   padding: 1vw;
}
.card1 h3{
    margin-top: 4vw;
    font-size: 3vw;
}
.card1 p{
    margin-top: 2vw;
    font-size: 14px;
}
.card1 button{
    margin-top: 6vw;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
}
.card1 button a{
    text-decoration: none;
    font-size: 15px;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------------card2----------------- */
.card2{
    flex-basis: 32%;
    box-shadow: 0.5vw 0.5vw 1.5vw;
    background-color: #490971;
   height: 350px;
   border-radius: 12px;
   scale: 1;
   padding: 1vw;
}
.card2 h3{
    margin-top: 4vw;
    font-size: 3vw;
    color: #f7f7f7;
}
.card2 p{
    margin-top: 2vw;
    font-size: 14px;
    color: #f7f7f7;
}
.card2 button{
    margin-top: 6vw;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    background: linear-gradient(to right, #AA3D71, #F1966E);
    border: none;
}
.card2 button a{
    text-decoration: none;
    font-size: 15px;
    color:#f7f7f7;
    
}

/* -----------------card3------------------- */

.card3{
    flex-basis: 32%;
    
    background-color: #f7f7f7;
    height: 350px;
    border-radius: 12px;
    padding: 1vw;
}
.card3 h3{
    margin-top: 4vw;
    font-size: 3vw;
}
.card3 p{
    margin-top: 2vw;
    font-size: 14px;
}
.card3 button{
    margin-top: 6vw;
    padding: 1vw;
    width: 180px;
    border-radius: 0.7vw;
    border: liner-gradient(to right,purple,orange);
    
}
.card3 button a{
    text-decoration: none;
    font-size: 15px;
    background: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}