<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <footer>
      <hr />
      <div class="part1">
        <div class="contact">
          <h3>Contact</h3>
          <h4>Email:your@email</h4>
          <h4>Contact:+910000000000</h4>
          <h4>Address:Chhatrapati Shivaji Maharaj University, Navi Mumbai</h4>
          <i class="fa-brands fa-square-whatsapp"></i>
        </div>
        <div class="quick_links">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="foot_communities">
          <h3>Communities</h3>
          <h4><a href="#">Programming Languages</a></h4>
          <h4><a href="#">AI & ML</a></h4>
          <h4><a href="#">Data Science</a></h4>
          <h4><a href="#">App Devlopment</a></h4>
          <h4><a href="#">Web Devlopment</a></h4>
          <h4><a href="#">Game Devlopment</a></h4>
          <h4><a href="#">Cyber Security</a></h4>
        </div>
      </div>
      <br /><br />
      <hr />
      <div class="part2">
        <h3>2024 All Copyrights Reserved</h3>
        <div class="social_media-icons">
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
