<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="joinus.css" />
  </head>
  <body>
    <!-- -------------------------join-community--------------- -->
    <div class="join-community-container">
      <h2>
        Unlock Your Potential <br />
        with Our Diverse Tech Communities
      </h2>
      <p>
        " Join our thriving tech communities or Create your own community and
        seize the opportunity to sharpen valuable skills and vastly expand your
        professional network!"
      </p>
      <ul>
        <li>Learn cutting-edge technologies from industry experts</li>
        <li>Collaborate with like-minded individuals on exciting projects</li>
        <li>Expand your network and connect with industry professionals</li>
      </ul>
      <button class="join-btn"><a href="#">Join Now</a></button>
    </div>
  </body>
</html>
